body {
  margin:0;
  background:black;
  color:#0f0;
  font-family:Consolas, monospace;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

#startScreen, #caughtScreen {
  text-align:center;
}

#gamePanel {
  display:none;
  width:650px;
  height:420px;
  border:2px solid #0f0;
  padding:10px;
  display:flex;
  flex-direction:column;
}

#topBar {
  display:flex;
  justify-content:space-between;
  border-bottom:1px solid #0f0;
  padding-bottom:5px;
}

#terminal {
  flex:1;
  display:flex;
  flex-direction:column;
  margin-top:5px;
}

#output {
  flex:1;
  border:1px solid #0f0;
  padding:5px;
  overflow-y:auto;
}

#inputLine {
  display:flex;
  gap:5px;
  margin-top:5px;
}

#command {
  flex:1;
  background:black;
  color:#0f0;
  border:1px solid #0f0;
  padding:5px;
  outline:none;
  z-index:999;
}

button {
  background:black;
  color:#0f0;
  border:1px solid #0f0;
  padding:5px 10px;
  cursor:pointer;
}

#overlay {
  position:fixed;
  top:0;left:0;
  width:100%;height:100%;
  background:black;
  opacity:0;
  pointer-events:none;
  transition:0.5s;
}

#caughtScreen {
  position:fixed;
  top:0;left:0;
  width:100%;height:100%;
  background:black;
  color:red;
  display:none;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  font-size:28px;
}

#dayOver {
  font-weight:bold;
  font-size:18px;
}