body { margin:0; background:black; color:#00ff66; font-family:monospace; overflow:hidden; }
.hidden{display:none;}
.screen{text-align:center;margin-top:100px;}

#matrix{position:fixed;top:0;left:0;width:100%;height:100%;z-index:-1;}

#gamePanel{
  width:600px;margin:30px auto;padding:10px;
  border:2px solid #00ff66;position:relative;
  background:rgba(0,0,0,0.85);
}

#panelMatrix{
  position:absolute;top:0;left:0;width:100%;height:100%;
  opacity:.25;pointer-events:none;z-index:0;
}

#topBar{display:flex;gap:10px;flex-wrap:wrap;z-index:1;position:relative;}

#terminal{
  margin-top:10px;height:300px;overflow-y:auto;
  border-top:1px solid #00ff66;padding-top:10px;z-index:1;position:relative;
}

#inputLine{display:flex;}
#command{flex:1;background:black;color:#00ff66;border:none;outline:none;}

button{background:black;color:#00ff66;border:1px solid #00ff66;cursor:pointer;}

#onlineScores{
  position:fixed;right:20px;top:80px;
  border:1px solid #00ff66;padding:10px;background:black;
}#shopPanel{
  position:fixed;
  top:100px;
  left:50%;
  transform:translateX(-50%);
  background:black;
  border:2px solid #00ff66;
  padding:15px;
  z-index:20;
}
